@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";  

@theme {
  --color-customBlue: #0B92E0;
  --color-customGreen: #19E08A;
}


body {
  font-family: 'Inter', sans-serif;
}